In [42]:
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt

In [122]:
truenews = pd.read_csv('./data/True.csv') 
#truenews.head()
fakenews = pd.read_csv('./data/Fake.csv') 
#fakenews.head()

In [123]:

truenews = truenews.drop([ "subject","date"], axis = 1)
fakenews = fakenews.drop([ "subject","date"], axis = 1)

In [124]:
truenews['result'] = 0
fakenews['result'] = 1

In [125]:
truenews.head()

,title,text,result
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,0

In [126]:
frames = [truenews, fakenews]
 
result = pd.concat(frames)

In [127]:
result.head()

,title,text,result
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,0

In [128]:
result['title'] = result['title'].map(lambda x:  x.lower())
result['text'] = result['text'].map(lambda x:  x.lower())

In [129]:
import numpy as np
msk = np.random.rand(len(result)) < 0.8
train = result[msk].copy()
test=result[~msk].copy()
print(test)

                                                   title  \
12     factbox: trump on twitter (dec 28) - vanity fa...
14     man says he delivered manure to mnuchin to pro...
24     failed vote to oust president shakes up peru's...
32     house panel asks trump ex-top aide bannon to t...
37     factbox: big-ticket items at center of congres...
...                                                  ...
23462  boiler room – oregon standoff, cuddle parties,...
23463  eyewitness says feds ambushed bundys, 100 shot...
23472                      #hashtag hell & the fake left
23476  mcpain: john mccain furious that iran treated ...
23477  justice? yahoo settles e-mail privacy class-ac...

                                                    text  result
12     the following statements were posted to the ve...       0
14      (in dec. 25 story, in second paragraph, corre...       0
24     lima (reuters) - peru’s president pedro pablo ...       0
32     washington (reuters) - steve bannon, a former ...       0
37     (reuters) - the u.s. congress on thursday appr...       0
...                                                  ...     ...
23462  tune in to the alternate current radio network...       1
23463  patrick henningsen 21st century wire update: 1...       1
23472   by dady chery and gilbert mercierall writers ...       1
23476  21st century wire says as 21wire reported earl...       1
23477  21st century wire says it s a familiar theme. ...       1

[9013 rows x 3 columns]

In [130]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [131]:
def remove_punct(txt):
    text_remove_punct = [c for c in txt if c not in string.punctuation]
    return text_remove_punct

In [132]:
import re
def regular_expr(txt):
    txt = re.sub('[^a-zA-Z]',' ',str(txt))
    #txt = txt.split()
    return txt

In [133]:
#train['text'] = train['text'].map(lambda x:  remove_punct(x))
#test['text'] = test['text'].map(lambda x:  remove_punct(x))

train['text'] = train['text'].map(lambda x:  regular_expr(x))
test['text'] = test['text'].map(lambda x:  regular_expr(x))

In [134]:
#result['text'] = result['text'].map(lambda x:  regular_expr(x))

In [135]:
print(test['text'])

12       the following statements were posted to the ve...
14         in dec     story  in second paragraph  corre...
24       lima  reuters    peru s president pedro pablo ...
32       washington  reuters    steve bannon  a former ...
37        reuters    the u s  congress on thursday appr...
                               ...
23462    tune in to the alternate current radio network...
23463    patrick henningsen   st century wire update   ...
23472     by dady chery and gilbert mercierall writers ...
23476      st century wire says as   wire reported earl...
23477      st century wire says it s a familiar theme  ...
Name: text, Length: 9013, dtype: object

In [136]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

def lemmatiz(txt):
    txt = lemmatizer.lemmatize(txt)
    #txt = txt.split()
    return txt

In [137]:
train['text'] = train['text'].map(lambda x:  lemmatiz(x))
test['text'] = test['text'].map(lambda x:  lemmatiz(x))

In [138]:
print(train['text'])

0        washington  reuters    the head of a conservat...
1        washington  reuters    transgender people will...
2        washington  reuters    the special counsel inv...
3        washington  reuters    trump campaign adviser ...
4        seattle washington  reuters    president donal...
                               ...
23474    paul craig robertsin the last years of the   t...
23475    robert fantina counterpunchalthough the united...
23478    patrick henningsen    st century wireremember ...
23479      st century wire says al jazeera america will...
23480      st century wire says as   wire predicted in ...
Name: text, Length: 35885, dtype: object

In [139]:
def regular_token(txt):
    #txt = re.sub('[^a-zA-Z]',' ',str(txt))
    txt = txt.split()
    return txt

In [140]:
#train['text'] = train['text'].map(lambda x:  regular_token(x))
#test['text'] = test['text'].map(lambda x:  regular_token(x))

In [141]:
print(train['text'])

0        washington  reuters    the head of a conservat...
1        washington  reuters    transgender people will...
2        washington  reuters    the special counsel inv...
3        washington  reuters    trump campaign adviser ...
4        seattle washington  reuters    president donal...
                               ...
23474    paul craig robertsin the last years of the   t...
23475    robert fantina counterpunchalthough the united...
23478    patrick henningsen    st century wireremember ...
23479      st century wire says al jazeera america will...
23480      st century wire says as   wire predicted in ...
Name: text, Length: 35885, dtype: object

In [145]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features = 125772,lowercase = False, ngram_range = (1,2))
x_train = tfidf.fit_transform(train['text'])
x_test = tfidf.fit_transform(test['text'])
#print(tfidf.fit_transform(result['text'][0]))
#def regular_vectorize(txt):
#   return tfidf.fit_transform(txt)

In [143]:
#result['count'] = result['text'].map(lambda x:  regular_vectorize([x]))

In [146]:
print(x_test.shape)
print(x_train.shape)

(9013, 125772)
(35885, 125772)

In [75]:
print(result.count)

<bound method DataFrame.count of                                                    title  \
0      as u.s. budget fight looms, republicans flip t...
1      u.s. military to accept transgender recruits o...
2      senior u.s. republican senator: 'let mr. muell...
3      fbi russia probe helped by australian diplomat...
4      trump wants postal service to charge 'much mor...
...                                                  ...
23476  mcpain: john mccain furious that iran treated ...
23477  justice? yahoo settles e-mail privacy class-ac...
23478  sunnistan: us and allied ‘safe zone’ plan to t...
23479  how to blow $700 million: al jazeera america f...
23480  10 u.s. navy sailors held by iranian military ...

                                                    text  result
0      washington  reuters    the head of a conservat...       0
1      washington  reuters    transgender people will...       0
2      washington  reuters    the special counsel inv...       0
3      washington  reuters    trump campaign adviser ...       0
4      seattle washington  reuters    president donal...       0
...                                                  ...     ...
23476    st century wire says as   wire reported earl...       1
23477    st century wire says it s a familiar theme  ...       1
23478  patrick henningsen    st century wireremember ...       1
23479    st century wire says al jazeera america will...       1
23480    st century wire says as   wire predicted in ...       1

[44898 rows x 3 columns]>

In [156]:
from sklearn.naive_bayes import MultinomialNB 

clf = MultinomialNB()
y_train = train['result'].to_numpy()
clf.fit(x_train,y_train)
predict = clf.predict(x_test)

In [155]:
print(type(y_train))

<class 'pandas.core.series.Series'>

In [157]:
y_test = test['result'].to_numpy()

In [158]:
print(type(y_test))

<class 'numpy.ndarray'>

In [160]:
count = 0
for i in range(len(y_test)):
    if y_test[i] == predict[i]:
        count+=1
k = count/len(y_test)
print(f'Accuracy : {k}')

Accuracy : 0.6174414734272717

In [161]:
predict = clf.predict(x_train)

In [162]:
count = 0
for i in range(len(y_train)):
    if y_train[i] == predict[i]:
        count+=1
k = count/len(y_train)
print(f'Accuracy : {k}')

Accuracy : 0.960484882262784